{{#extends "base"}}

{{#block "title"}}Delete Post{{/block}}

{{#block "content"}}
<form method="POST">
    <div class="alert alert-danger">
        Are you sure you want to delete {{post.title}} {{post.content}}
        <div>
            <input type="submit" value="Confirm" class="btn btn-danger"/>
            <a href="/posts" class="btn btn-primary">Cancel</a>
        </div>
    </div>
</form>

{{/block}}

{{/extends}}